/*
SELECTORES BÃSICOS
* UNIVERSAL --> selecciona a TODOS los elementos 
    que se encuentren en el documento html
tagname ETIQUETA --> selecciona todos los elementos
    de la mismo tipo ( misma etiqueta )
.clase CLASS --> selecciona a todos los elementos
    que tengan la clase indicada
#identificador ID --> selecciona al UNICO elemento
    identificado con el id indicado
*/

/* Selector por descendiente 
padre elementosdescendientes{
    estilos que quiero aplicar a los elementos 
    descendientes
}


*/

div#contenedor div{
   color: black; 
   font-size: 30px;
}

div#contenedor div.square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: brown;
}

/*
Selector de hijos
padre>elementohijo
*/

div#contenedor>div{
    box-shadow: 5px 5px 20px rgb(90, 88, 88);
}

/*
    SELECTOR DE HERMANOS INMEDIATOS
    Selecciona un elemento inmediatamente 
    despues del elemento indicado

    elemento+hermano
*/
div+p{
    color: crimson;
}

div.square+p{
   background-color: peru; 
   border: 3px solid red;
}

/*
SELECETOR DE HERMANOS 
Me permite seleccionar a todos los hermanos 
que se encuentren despues del 
elemento de referencia
elemento~hermanos 
*/

div.square~p{
    border: 2px dotted darkblue;
}

